# ansible.cfg
[defaults]
inventory = /mnt/c/dev/personal/homelab/ansible/inventory/hosts.ini
roles_path = /mnt/c/dev/personal/homelab/ansible/roles
remote_user = pi
private_key_file = ~/.ssh/ansible_key

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s